@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ContactInfo";
}

<div class="container">
    <h2>Contact Information</h2>
    <table class="table">
        <address>
            Something Next To Scuttlebutts<br />
            Slidell, LA 70444-6666<br />
            <abbr title="Phone">P:</abbr>
            985.666.1234
        </address>

        <address>
            <strong>Email:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        </address>
    </table>
</div>