<!DOCTYPE html>
<style>
    .sidebar-nav {
        height: 100%;
        position: absolute;
        top: 0px;
        width: 260px;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #1299F2;
    }

    .navbar {
        top: -50px;
    }

    .navbar-nav {
        font-size: 18px;
    }

    .navbar-collapse {
        background-color: #22221D;
    }

    .sidebar-nav li {
        font-size: 19px;
        text-indent: 18px;
        line-height: 50px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #000000;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #000000;
                background: rgba(255, 255, 255, 0.2);
            }

            .sidebar-nav li a:active, .sidebar-nav li a:focus {
                color: #000000;
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 30px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #000;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #000000;
                background: linear-gradient();
            }

    .accordion {
        background-color: #1299F2;
        color: #000;
        font-size: 19px;
        transition: 0.4s;
        border: none;
    }

    .button {
        background-color: #1299F2;
        color: #000;
        font-size: 19px;
        transition: 0.4s;
        border: none;
    }

    .panel {
        text-indent: 50px;
        padding: inherit;
        font-size: 14px;
        background-color: #000000;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Archpoint PHR</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Archpoint PHR</a>
        </div>
            <div class="container">
                <partial name="_LoginPartial" />
            </div>
</nav>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a asp-area="" asp-controller="Medications" asp-action="Index">Archpoint PHR</a>
                </li>
                <li>
                    <a class="button " href="#">Create New Health Record</a>
                    <div class="panel">

                    </div>
                </li>
                <li>
                    <button class="accordion">Medical History</button>
                    <div class="panel">
                        <a href="#">Allergy History</a>
                        <a href="#">Cancer History</a>
                        <a href="#">ENT History</a>
                        <a href="#">Eye History</a>
                        <a href="#">Family Medical History</a>
                        <a href="#">Heart History</a>
                        <a href="#">Medications</a>
                        <a href="#">Mental Health Status</a>
                        <a href="#">Mens Health History</a>
                        <a href="#">STD History</a>
                        <a href="#">Womens Health History</a>

                    </div>
                </li>
                <li>
                    <a href="#">Medical Quick Card</a>
                    <div class="panel">

                    </div>
                </li>
                <li>
                    <button class="accordion">Personal Information</button>
                    <div class="panel">
                        <a href="#">Caregivers</a>
                        <a href="#">Doctor Visits</a>
                        <a href="#">Insurance Information</a>
                        <a href="#">Immunizations</a>
                        <a href="#">Legal Documents</a>
                        <a href="#">Medical Provider</a>
                        <a href="#">Travel Health</a>

                    </div>
                </li>
                <li>
                    <a href="#">About</a>
                    <div class="panel">

                    </div>
                </li>
                <li>
                    <a href="#">Filler</a>
                    <div class="panel">

                    </div>
                </li>
                <li>
                    <a href="#">Contact</a>
                    <div class="panel">

                    </div>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    </div>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - ArchpointMvcPHR</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
