@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Medical Card";
}

<?php
$servername = "localhost";
$username = "username";
$password = "password";

// Create connection
$conn = mysqli_connect($servername, $username, $password);

// Check connection
if (!$conn) {
die("Connection failed: " . mysqli_connect_error());
}
echo "Connected successfully.....................................................................................................................................";
?>


<h2>Emergency Medical Card</h2>


<div class="container">
    <h2>Medical Quick Card</h2>
    <p>This card is meant to be printed out and kept in your wallet to be keep al your vital information in one spot in the case of emergency</p>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <h3>Name:</h3>
            </tr>
            <tr>
                <th>Personal Info</th>
                <th>Allergies/Reactions</th>
            </tr>
            <tr>
                <td>DOB:</td>
                <td>Allergy1:</td>
            </tr>
            <tr>
                <td>Blood Type::</td>
                <td>Allergy2:</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>Allergy3:</td>
            </tr>



            <tr>
                <th>Emergency Contacts</th>
                <th>Medical Conditions</th>
            </tr>
            <tr>
                <td>Emergency Contact:</td>
                <td>Medical Condition:</td>
            </tr>



            <tr>
                <th>Medical Provider</th>
                <th>Family Medical History</th>
            </tr>
            <tr>
                <td>Primary Physician:</td>
                <td>Medical Condition 1:</td>
            </tr>
            <tr>
                <td>Medical Provider 1:</td>
                <td>Medical Condition 2:</td>
            </tr>


            <tr>
                <th>Current Medications</th>
                <th>Legal</th>
            </tr>
            <tr>
                <td>Medication Name:</td>
                <td>Living Will?: <input type="radio" name="will" value="No" checked> NO  <input type="radio" name="will" value="yes"> YES</td> </td>
            </tr>
            <tr>
                <td>Medication Dosage:</td>
                <td>DNR: <input type="radio" name="DNR" value="No" checked> NO  <input type="radio" name="DNR" value="yes"> YES</td>
            </tr>
            <tr>
                <td>Medication Prevalence:</td>
                <td>Organ Donor?: <input type="radio" name="organ" value="No" checked> NO  <input type="radio" name="organ" value="yes"> YES</td>
            </tr>
        </table>
    </div>
</div>


