@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Medical Card";
}

<h2>Emergency Medical Card</h2>
<hr />




@*Scotts*@
<div class="container">
    <h2>Medical Quick Card</h2>
    <p>This card is meant to be printed out and kept in your wallet to be keep al your vital information in one spot in the case of emergency</p>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <h3>Name:Jim B Pickens</h3>
            </tr>
            <tr>
                <th>Personal Info</th>
                <th>Allergies/Reactions</th>
            </tr>
            <tr>
                <td>DOB: 01/02/1990</td>
                <td>Allergy:</td>
            </tr>
            <tr>
                <td>Blood Type: AB</td>
                <td>Allergy:</td>
            </tr>
            <tr>
                <td>Address: 500 Main St</td>
                <td>Allergy:</td>
            </tr>
            <tr>
                <th>Emergency Contacts</th>
                <th>Medical Conditions</th>
            </tr>
            <tr>
                <td>Emergency Contact: Jill Pickens</td>
                <td>Medical Condition:</td>
            </tr>
            <tr>
                <td>Emergency Contact Phone: 985-123-5555</td>
                <td>Medical Condition:</td>
            </tr>
            <tr>
                <th>Medical Provider</th>
                <th>Family Medical History</th>
            </tr>
            <tr>
                <td>Primary Physician: Jon Williamson</td>
                <td>Medical Condition :</td>
            </tr>
            <tr>
                <td>Medical Provider :</td>
                <td>Medical Condition :</td>
            </tr>
            <tr>
                <th>Current Medications</th>
                <th>Legal</th>
            </tr>
            <tr>
                <td>Medication Name:</td>
                <td>Living Will?:</td>
            </tr>
            <tr>
                <td>Medication Dosage:</td>
                <td>DNR:</td>
            </tr>
            <tr>
                <td>Medication Prevalence:</td>
                <td>Organ Donor?:</td>
            </tr>
        </table>
    </div>
</div>





@*<div class="container">
    <h2>Medical Quick Card</h2>
    <hr />
    <p>This card is meant to be printed out and kept in your wallet at all times in case of emergency.</p>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <h3>Emergency Medical Card:</h3>
            </tr>
            <tr>
                <td>Name: Jim Pickens</td>
           </tr>
            <tr>
                <td>Address: 675 Collage Trail</td>
            </tr>
            <tr>
                <td>DOB: 11/22/1963</td>
           </tr>
            <tr>
                <td>Phone Number: 504-555-4875</td>
            </tr>
            <tr>
                <td>Blood Type: O +</td>
           </tr>
            <tr>
                <td>Medications:</td>
                
            </tr>
            <tr>
                <td>Emergency Contacts:</td>
            </tr>
            <tr>
            <tr>
                <td>Primary Physician:</td>
            </tr>
            
              


            
        </table>
    </div>
</div>*@


