@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";

}
<style>
    .about{
        font-size:22px;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
</style>


<div class="container">
    <h1>About Us</h1>
    <br />

    <p class="about">
    <p>ArchPoint Personal Health Record software was developed to allow people to take an active role in their personal and families' health care.<br /> The software allows users to create, consolidate, and maintain an accurate and up-to-date personal health record under their personal control.
    <p>Since it is under the user's exclusive control, it cannot be viewed by employers, insurance providers, or any government agency. All<br /> information is stored in one secured place.
    <br /><br />
    <p>ArchPoint PHR provides users with an excellent, easy to use program that enables users to share their personal and family's health information<br /> with healthcare providers and family members.
    </p>

    <img src="~/images/28a2b0_62f97b3ff7e24078a4bda07ea3e2b4ca.png" />
</div>