
@{
    ViewData["Title"] = "About Us";
}

<h2>View</h2>

<div class="container">
    <h2>About Us</h2>
    <table class="table">
        <tr>
            <h4>We strive for medical perfection</h4>
        </tr>
        <tr>
            <h4>We will not accept falure</h4>
        </tr>
        <tr>
            <h4>Motivational quote or something. Idk</h4>
        </tr>
    </table>
</div>