@{
    ViewData["Title"] = "Home Page";
}
<style>
    .col-md-3{
        font-size:17px;
    }
    .col-md-4 {
        font-size: 17px;
    }
    .btn-primary{
        font-size: 17px;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Archpoint PHR</h1>
        <p class="lead">Archpoint Personal Health Records will allow you to maintain and manage your health information.
        Archpoint will ahave your information accessible to you anytime with web-enabled devices.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>First Time Users</h2>
        <ul>
            <br />
            <li>If this is your first time using the application you will want to start at the Create New Health Record.</li>
            <br />
            <a class="btn btn-primary" href="/CreateNewHealthRecord" role="button">Create New Health Record</a>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>What is a Personal Health Record?</h2>
        <ul>
            <li>A personal health record is used to keep and organize medical information</li>
            <li>A personal health record can be a lifesaver, in emergencies you can quickly give vital information</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Features</h2>
        <ul>
            <br />
            <li>Grant access to caregivers if you are unable to care for oneself.</li>
            <li>Help track and assess your health</li>
            <li>Make the most of your doctor visits.</li>
        </ul>
    </div>




</div>
