@{
    ViewData["Title"] = "Home Page";
}

<center><h1>Welcome to ArchPoint PHR</h1></center>

<div class="row">
    <div class="col-md-3">
        <h2>What is a Personal Health Record?</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Lets Make</h2>
        <ul>
            
        </ul>
    </div>
    <div class="col-md-3">
        <h2>It Pretty</h2>
        <ul>
            
        </ul>
    </div>
    
</div>
