@{
    ViewData["Title"] = "Home Page";
}


<style>

    .table1 {
        width: 100%;
        max-width: 100%;
        margin-left: 15%;
        border: 1px;
    }
</style>

<table class="table1">
    <tr>
        <td>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Welcome to Archpoint PHR</h1>
                    <p class="lead">
                        Archpoint Personal Health Records will allow you to maintain and manage your health information.
                        Archpoint will have your information accessible to you anytime with web-enabled devices.
                    </p>
                </div>
            </div>
        </td>
    </tr>
</table>

<table class="table1">
    <tr>
        <td>
            <h2>First Time Users</h2>
            <ul>
                <li>If this is your first time using the application you will want to start at the Create New Health Record.</li>
                <a class="btn btn-primary" href="/CreateNewHealthRecord" role="button">Create New Health Record</a>
            </ul>
        </td>
        <td>
                <h2>What is a Personal Health Record?</h2>
                <ul>
                    <li>A personal health record is used to keep and organize medical information</li>
                    <li>A personal health record can be a lifesaver, in emergencies you can quickly give vital information</li>
                </ul>
        </td>
        <td>
                <h2>Features</h2>
                <ul>
                    <li>Grant access to caregivers if you are unable to care for oneself.</li>
                    <li>Help track and assess your health</li>
                    <li>Make the most of your doctor visits.</li>
                </ul>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>



